body {
    font-family: Montserrat, sans-serif;
}

#i {
 color: black;
}

.photo-gallery {
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 5px;
    
}

.photo-gallery img{
    width: 100%;
}